@charset "UTF-8";

@media (max-width: 1550px) {
    #index-page .tit{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #index-page .tit .toggle{
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
    }
    #index-page .gnb{
        white-space: nowrap;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 26px;
    }
    #index-page .name-card{
        text-align: center;
        top: 65%;
        right: 0%;
    }
    #intro{
        padding: 50px 15vh;
        box-sizing: border-box;
    }
    #intro .top-section{
        display: flex;
        flex-direction: column;
    }
    #intro .top-section .intro-txt{
        margin-bottom: 20px;
    }
    #intro .top-section .intro-wrap{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    #intro .top-section .intro-wrap .skills .skill{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 400px;
    }
    #intro .bold2{
        line-height: 0px;
    }
    #web .web-section .web-wrap{
        width: 60%;
        overflow-wrap: break-word;
    }
    #content .content-section .content-wrap{
        width: 60%;
        overflow-wrap: break-word;
    }
    #content .content-section.double .content-book{
        flex-direction: column;
    }
    #last-page .name-card{
        text-align: center;
        top: 65%;
        right: 0%;
    }
}
@media (max-width: 1190px){
    #ui .ui-section .ui-book .rightimg{
        display: none;
    }
}
@media (max-width: 1000px){
    #intro {
        padding: 50px 8%;
        box-sizing: border-box;
    }
    #intro .top-section .intro-wrap{
        margin-left: 0;
        margin-right: 0;
    }
    #web .web-section{
        margin: 0;
        padding: 0;
    }
    #web .web-section .web-sub{
        /* width: 90%; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* text-align: center; */
        /* margin-left: 20px; */
    }
    #web .web-section .web-sub .link-btn{
        margin: 0;
        padding: 0;
        animation: none;
        text-align: center;
    }
    #web .web-section:nth-child(3) .web-sub .link-btn{
        overflow-wrap: break-word;
    }
    #web .web-section .web-book img{
        width: 95%;
    }
    #web .web-section .web-wrap{
        width: 80%;
        overflow-wrap: break-word;
    }

    #content .content-section{
        margin: 0;
        padding: 0;
    }
    #content .content-section .content-title{
        margin-left: 30px;
    }
    #content .content-section .content-sub{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }
    #content .content-section .content-sub .link-btn{
        margin: 0;
        padding: 0;
        animation: none;
    }
    #content .content-section .content-book img{
        width: 95%;
    }
    #content .content-section.double .content-book .rightimg{
        display: none;
    }
    #content .content-section .content-wrap{
        width: 80%;
        overflow-wrap: break-word;
    }

    #web-info{
        line-height: 50px;
    }
    #web-info .renewal{
        font-size: 50px;
    }
    #web-info .web-desc{
        font-size: 18px;
    }
    #content-info{
        line-height: 50px;
    }
    #content-info .renewal{
        font-size: 50px;
    }
    #content-info .content-desc{
        font-size: 18px;
    }
    #ui .ui-section .ui-title{
        text-align: center;
    }
    #ui .ui-section{
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
    #ui .ui-section .ui-book img{
        width: 95%;
    }
    #ui .ui-section .ui-sub{
        justify-content: center;
    }

    #ui-info{
        line-height: 50px;
    }
    #ui-info .renewal{
        font-size: 50px;
    }
    #ui-info .ui-desc{
        font-size: 18px;
    }
}
@media (max-width: 830px){
    #intro{
        height: 1500px;
        padding: 0vh 10vh;
        box-sizing: border-box;
    }
    #intro .top-section .intro-wrap{
        flex-direction: column;
    }
    #intro .top-section .second-line{
        margin-top: 30px;
    }
    #intro .quick-wrap{
        white-space: nowrap;
    }
    #content .content-section.double .content-book img{
        width: 90%;
    }
}
@media (max-width: 800px){
    #web .web-title{
        margin-top: 45px;
    }
    #web .web-section:nth-child(3) .web-title{
        margin-top: 30px;
    }
    #ui .ui-title{
        margin-top: 50px;
    }
    #content .content-section .content-title{
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    #content .content-section .content-sub{
        display: flex;
        align-items: center
    }
    #web .web-section .web-title{
        text-align: center;
    }
    #web .web-section .web-sub{
        display: flex;
        align-items: center
    }
    #content .content-section .content-skill{
        font-size: 28px;
        margin-left: 30px;
    }
    #content .content-section .content-img-desc .skill{
        font-size: 30px;
    }
    #content .content-section .content-sub .type2{
        display: none;
    }
    #web .web-section .web-skill{
        font-size: 28px;
        margin-left: 28px;
    }
    #web .web-section .web-img-desc .skill{
        font-size: 30px;
    }
    #web .web-section .web-sub .type2{
        display: none;
    }
    #web-info{
        line-height: 50px;
    }
    #web-info .renewal{
        font-size: 35px;
    }
    #web-info .web-desc{
        font-size: 16px;
    }
    #content-info{
        line-height: 50px;
    }
    #content-info .renewal{
        font-size: 30px;
    }
    #content-info .content-desc{
        font-size: 16px;
    }

    #intro .top-section .intro-txt{
        margin-top: 70px;
    }
    #index-page .tit .tit1{
        font-size: 45px;
    }
    #intro .quick-wrap{
        position: fixed;
        top: 0px;
    }
    .menu-item {
        position: relative;
        transition: all 0.4s ease;
    }
    .sub-menu{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 20px);
    }
    .menu-item.active .sub-menu{
        transform: translate(-50%, 50px);
        opacity: 1;
        pointer-events: auto;
    }
    #index-page .gnb{
        white-space: nowrap;
        font-size: 18px;
    }
    #last-page .tit .tit1{
        font-size: 45px;
    }
}
@media (max-width: 600px){
    #intro{
        height: 1500px;
        padding: 0vh 0vh;
        box-sizing: border-box;
        position: relative;
    }
    #intro .top-section .intro-txt{
        margin: 0 auto;
        margin-top: 70px;
        font-size: 20px;
        line-height: 25px;
    }
    #intro .bold{
        font-size: 20px;
        margin-bottom: 15px;
    }
    #intro .bold2{
        font-size: 18px;
    }
    #intro .thin{
        font-size: 16px;
        line-height: 20px;
    }
    #intro .top-section .intro-wrap{
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }
    #intro .top-section .first-line,
    #intro .top-section .second-line{
        gap: 8px;
    }
    #intro .top-section .intro-wrap .skills .skill{
        margin: 0 auto;
        padding-top: 30px;
        box-sizing: border-box;
    }

    #ui-info{
        line-height: 50px;
    }
    #ui-info .renewal{
        font-size: 35px;
    }
    #ui-info .ui-desc{
        font-size: 16px;
    }
}

@media (max-width: 500px){
    #web .web-section:nth-child(3){
        margin-bottom: 80px;
    }
    #web-info .web-desc{
        line-height: 22px;
        word-break: keep-all;
    }
    #content-info .content-desc{
        line-height: 22px;
        word-break: keep-all;
    }
    #ui-info .ui-desc{
        line-height: 22px;
        word-break: keep-all;
    }
}

@media (max-width: 400px){
    #index-page{
        position: relative;
    }
    #index-page .tit{
        width: 410px;
        margin: 0 auto;
        padding-top: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: none;
        line-height: 5px;
    }

    #index-page .tit .tit1{
        position: relative;
        transform: none;
        font-size: 20px;
    }

    #index-page .gnb{
        position: static;
        transform: none;
        width: 420px;
        margin: 0 auto;
        padding-top: 40px;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        line-height: 5px;
    }
    #index-page .tit .tit1::after{
        position: absolute;
        top: -10px;
        font-size: 16px;
    }
    #index-page .e{
        position: absolute;
    }
    #index-page .edge1{
        top: 5%;
        left: 5%;
    }
    #index-page .edge2{
        top: 5%;
        right: -19px;
    }
    #index-page .edge3{
        bottom: 1%;
        left: 5%;
    }
    #index-page .edge4{
        bottom: 1%;
        right: -19px;
    }
    #index-page .name-card{
        width: 350px;
        margin: 0 auto;
    }

    #intro{
        width: 100%;
        text-align: center;
    }
    #intro .intro-txt{
        width: 415px;
        margin: 0 auto;
    }
    #intro .intro-wrap .first-line{
        width: 380px;
        margin: 0 auto;
        text-align: center;
    }
    #intro .intro-wrap .second-line{
        width: 380px;
        margin: 0 auto;
        text-align: center;
        word-break: keep-all;
    }

    #web-info,
    #content-info,
    #ui-info{
        min-height: 100vh;
        padding-top: 100px;
        box-sizing: border-box;
    }
    #web-info{
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }
    #web-info .renewal{
        font-size: 25px;
    }
    #web-info .web-desc{
        font-size: 20px;
    }
    #ui-info{
        width: 410px;
        margin: 0 auto;
        text-align: center;
    }
    #ui-info .renewal{
        font-size: 25px;
    }
    #ui-info .ui-desc{
        font-size: 20px;
    }
    #content-info{
        width: 410px;
        margin: 0 auto;
        text-align: center;
    }
    #content-info .renewal{
        font-size: 25px;
    }
    #content-info .contet-desc{
        font-size: 20px;
    }

    #last-page{
        width: 100%;
        position: relative;
        overflow-x: visible;
    }
    #last-page .tit{
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }
    #last-page .tit .tit1{
        font-size: 30px;
        line-height: 10px;
    }
    #last-page .tit .tit1::after{
        position: absolute;
        top: -20px;
        font-size: 16px;
    }
    #last-page .e{
        position: absolute;
    }
    #last-page .edge1{
        top: 0;
        left: 10%;
    }
    #last-page .edge2{
        top: 0;
        right: 0;
    }
    #last-page .edge3{
        bottom: 5%;
        left: 10%;
    }
    #last-page .edge4{
        bottom: 5%;
        right: 0%;
    }
    #last-page .name-card{
        width: 350px;
        margin: 0 auto;
    }

    #web{
        width: 90%;
        margin: 0 auto;
    }
    #web .web-section{
        width: 380px;
        height: auto;
        min-height: 100vh;
        margin: 30px auto;
    }
    #web .web-section .web-title{
        font-weight: 600;
    }
    #web .web-section .link-btn{
        font-size: 22px;
    }
    #web .web-section .web-skill .web-img-desc{
        width: 320px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    #web .web-section .web-skill .web-img-desc .skill{
        font-size: 20px;
        font-weight: 600;
    }

    #content{
        width: 90%;
        margin: 0 auto;
    }
    #content .content-section{
        width: 380px;
        height: auto;
        min-height: 100vh;
        margin: 30px auto;
    }
    #content .content-section .content-title{
        font-weight: 600;
    }
    #content .content-section .link-btn{
        font-size: 22px;
    }
    #content .content-section .content-skill .content-img-desc{
        width: 320px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    #content .content-section .content-skill .content-img-desc .skill{
        font-size: 20px;
        font-weight: 600;
    }

    #ui{
        width: 420px;
        margin: 0 auto;
        padding: 0;
    }
    #ui .ui-section{
        width: 95%;
        margin: 0 auto;
        padding: 0;
        margin-top: 50px;
    }
    .ui-submenu {
        transform: translate(-65%, 20px);
    }
}

@media (max-width: 380px){
    #index-page{
        position: relative;
    }
    #index-page .tit{
        width: 410px;
        margin: 0 auto;
        padding-top: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: none;
        line-height: 5px;
    }

    #index-page .tit .tit1{
        position: relative;
        transform: none;
        font-size: 20px;
    }

    #index-page .gnb{
        position: static;
        transform: none;
        width: 420px;
        margin: 0 auto;
        padding-top: 40px;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        line-height: 5px;
    }
    #index-page .tit .tit1::after{
        position: absolute;
        top: -10px;
        font-size: 16px;
    }
    #index-page .e{
        position: absolute;
    }
    #index-page .edge1{
        top: 5%;
        left: 5%;
    }
    #index-page .edge2{
        top: 5%;
        right: -19px;
    }
    #index-page .edge3{
        bottom: 1%;
        left: 5%;
    }
    #index-page .edge4{
        bottom: 1%;
        right: -19px;
    }
    #index-page .name-card{
        width: 350px;
        margin: 0 auto;
    }

    #intro{
        width: 100%;
        text-align: center;
    }
    #intro .intro-txt{
        width: 415px;
        margin: 0 auto;
    }
    #intro .intro-wrap .first-line{
        width: 380px;
        margin: 0 auto;
        text-align: center;
    }
    #intro .intro-wrap .second-line{
        width: 380px;
        margin: 0 auto;
        text-align: center;
        word-break: keep-all;
    }

    #web-info,
    #content-info,
    #ui-info{
        min-height: 100vh;
        padding-top: 100px;
        box-sizing: border-box;
    }
    #web-info{
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }
    #web-info .renewal{
        font-size: 25px;
    }
    #web-info .web-desc{
        font-size: 20px;
    }
    #ui-info{
        width: 410px;
        margin: 0 auto;
        text-align: center;
    }
    #ui-info .renewal{
        font-size: 25px;
    }
    #ui-info .ui-desc{
        font-size: 20px;
    }
    #content-info{
        width: 410px;
        margin: 0 auto;
        text-align: center;
    }
    #content-info .renewal{
        font-size: 25px;
    }
    #content-info .contet-desc{
        font-size: 20px;
    }

    #last-page{
        width: 100%;
        position: relative;
        overflow-x: visible;
    }
    #last-page .tit{
        width: 420px;
        margin: 0 auto;
        text-align: center;
    }
    #last-page .tit .tit1{
        font-size: 30px;
        line-height: 10px;
    }
    #last-page .tit .tit1::after{
        position: absolute;
        top: -20px;
        font-size: 16px;
    }
    #last-page .e{
        position: absolute;
    }
    #last-page .edge1{
        top: 0;
        left: 10%;
    }
    #last-page .edge2{
        top: 0;
        right: 0;
    }
    #last-page .edge3{
        bottom: 5%;
        left: 10%;
    }
    #last-page .edge4{
        bottom: 5%;
        right: 0%;
    }
    #last-page .name-card{
        width: 350px;
        margin: 0 auto;
    }

    #web{
        width: 90%;
        margin: 0 auto;
    }
    #web .web-section{
        width: 380px;
        height: auto;
        min-height: 100vh;
        margin: 30px auto;
    }
    #web .web-section .web-title{
        font-weight: 600;
    }
    #web .web-section .link-btn{
        font-size: 22px;
    }
    #web .web-section .web-skill .web-img-desc{
        width: 320px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    #web .web-section .web-skill .web-img-desc .skill{
        font-size: 20px;
        font-weight: 600;
    }

    #content{
        width: 90%;
        margin: 0 auto;
    }
    #content .content-section{
        width: 380px;
        height: auto;
        min-height: 100vh;
        margin: 30px auto;
    }
    #content .content-section .content-title{
        font-weight: 600;
    }
    #content .content-section .link-btn{
        font-size: 22px;
    }
    #content .content-section .content-skill .content-img-desc{
        width: 320px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    #content .content-section .content-skill .content-img-desc .skill{
        font-size: 20px;
        font-weight: 600;
    }

    #ui{
        width: 420px;
        margin: 0 auto;
        padding: 0;
    }
    #ui .ui-section{
        width: 95%;
        margin: 0 auto;
        padding: 0;
        margin-top: 50px;
    }
    .ui-submenu {
        transform: translate(-65%, 20px);
    }
}

@media (hover: none) {
    .menu-item:hover .sub-menu {
        opacity: 0;
    }
}